<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us | Smith Food Storage</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  
</head>

<body>
  <div id="content">
    <!-- Header -->
    <header>
      <div class="nav-icons">
        <a href="{{ url_for('home') }}">
          <img class="logo"src="{{ url_for('static', filename='images/updated_smith_food_storage_logo.jpg') }}"alt="Smith Food Storage">
        </a>
        <a href="{{ url_for('add_food') }}">
          <img class="logo" src="{{ url_for('static', filename='images/addfoodlogo.jpg') }}" alt="Add Food">
        </a>
        <a href="{{ url_for('storage') }}">
          <img class="logo" src="{{ url_for('static', filename='images/mystoragelogo.jpg') }}" alt="My Storage">
        </a>
      </div>
    </header>

    <!-- Main -->
    <main>
      <div id="feedback"></div>
      <form
        class="contact-form"
        method="post"
        action="{{ url_for('contact_us') }}">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" required>

        <label for="email">Email:</label>
        <input id="email" name="email" type="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="6" required></textarea>

        <button type="submit" class="btn">Send your message</button>
      </form>
    </main>


  <!-- Footer -->
  <footer>
    <div class="footer-left">Smith Food Storage &copy; 2025 - Trevor Smith</div>
    <div class="footer-center"><a href="{{ url_for('site_plan') }}">Site Plan</a></div>
    <div class="footer-right"><a href="{{ url_for('contact_us') }}">Contact Us</a></div>
    <div class="footer-right"><a href="{{ url_for('run_program') }}">Storage Tools</a></div>
    
    <div class="social">
      <a href="https://facebook.com" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook icon"></a>
      <a href="https://twitter.com" target="_blank"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter icon"></a>
      <a href="https://instagram.com" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram icon"></a>
    </div>
  </footer>
  
  <script>
    const feedbackElement = document.getElementById('feedback');
    const formElement = document.querySelector('.contact-form');

    formElement.addEventListener('submit', function(e) {
      e.preventDefault();

      feedbackElement.innerHTML =
        'Hello ' + formElement.name.value +
        '! Thank you for your message. We will get back with you as soon as possible!';
      feedbackElement.style.display = "block";
      document.body.classList.toggle('moveDown');

      formElement.submit();
    });
  </script>

</body>
</html>
